<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<form [formGroup]="chartForm" (ngSubmit)="onSubmit()" class="chart-form">
  <h2>Create a Chart</h2>

  <label for="title">Title:</label>
  <input id="title" type="text" formControlName="title">


  <label for="subtitle">Subtitle:</label>
  <input id="subtitle" type="text" formControlName="subtitle">

  <label for="chartType">Chart Type:</label>
  <select id="chartType" formControlName="chartType" (change)="onChartTypeChange($event)">
    <option value="pie">Pie</option>
    <option value="bar">Bar</option>
    <option value="column">Column</option>
    <option value="line">Line</option>
  </select>


  <div *ngIf="showAxisTitles">
    <label for="xAxisTitle">X-Axis Title:</label>
    <input id="xAxisTitle" type="text" formControlName="xAxisTitle">

    <label for="yAxisTitle">Y-Axis Title:</label>
    <input id="yAxisTitle" type="text" formControlName="yAxisTitle">
  </div>


  <label formControlName="data" >Choose your Visualized Data by:</label>
  <div formGroupName="dataType" class="radio-group">
    <label>
      <input type="radio" formControlName="type" value="sql" (change)="onDataTypeChange('sql')"> SQL Query
    </label>
    <label>
      <input type="radio" formControlName="type" value="columnChoice" (change)="onDataTypeChange('columnChoice')"> Data Columns Choice
    </label>
  
  </div>

  <div *ngIf="isSqlQuery">
    <label for="sqlQuery">SQL Query:</label>
    <textarea id="sqlQuery" formControlName="sqlQuery"></textarea>
  </div>

  <div *ngIf="isColumnChoice">
    <label for="itemNames">X-Axis Data:</label>
    <select id="itemNames" formControlName="itemNames" >
      <option *ngFor="let attr of itemNames" [value]="attr">{{ attr }}</option>
    </select>
  
    <label for="itemValues">Y-Axis Data:</label>
    <select id="itemValues" formControlName="itemValues">
      <option *ngFor="let attr of itemValues" [value]="attr">{{ attr }}</option>
    </select>
  </div>
  
  


  <button type="submit">Generate Chart</button>

  <highcharts-chart *ngIf="chartOptions" style="width: 100%; height: 400px"
  class="highcharts-description"
    [Highcharts]="highcharts" id="chartContainergenerated"
    [options]="chartOptions"
    style="width: 100%; height: 100; display: block;">
  </highcharts-chart>
</form>
