<highcharts-chart
[Highcharts] = "highcharts" 
[options] = "chartOptionsnew9" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart><highcharts-chart
[Highcharts] = "highcharts" 
[options] = "chartOptionsnew" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>

<highcharts-chart
[Highcharts] = "highcharts" 
[options] = "chartOptionsnew7" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
[Highcharts] = "highcharts" 
[options] = "chartOptionsnew8" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
[Highcharts] = "highcharts" 
[options] = "hartOptionsnew3" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
[Highcharts] = "highcharts" 
[options] = "chartOptionsnew6" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
[Highcharts] = "highcharts" 
[options] = "chartOptionsnew4" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
[Highcharts] = "highcharts" 
[options] = "chartOptionsnew5" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
[Highcharts] = "highcharts" 
[options] = "chartOptionsnew2" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>

<highcharts-chart
[Highcharts] = "highcharts" id="chartContainerapi6"
[options] = "chartOptionsapi6" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>



<highcharts-chart
[Highcharts] = "highcharts" id="chartContainerapi5"
[options] = "chartOptionsapi5" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>

<highcharts-chart
[Highcharts] = "highcharts" id="chartContainerapi4"
[options] = "chartOptionsapi4" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
[Highcharts] = "highcharts" id="chartContainerapi2"
[options] = "chartOptionsapi2" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
   [Highcharts] = "highcharts" id="chartContainerapi"
   [options] = "chartOptionsapi" 
   style = "width: 100%; height: 400px; display: block;">
</highcharts-chart>
<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptionssss" 
   style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions7" 
   style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions5" 
   style = "width: 100%; height: 100; display: block;">
</highcharts-chart>

<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions6" 
   style = "width: 100%; height: 100; display: block;">
</highcharts-chart>


<highcharts-chart id="chartContainer"
[Highcharts] = "highcharts" 
[options] = "chartOptions2" 
style = "width: 100%; height: 400px; display: block;">
</highcharts-chart>
<highcharts-chart
[Highcharts] = "highcharts" 
[options] = "chartOptions3" 
style = "width: 100%; height: 400px; display: block;">
</highcharts-chart>


<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions1" 
   style = "width: 100%; height: 400px; display: block;">
</highcharts-chart>


<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions" 
   style = "width: 100%; height: 100; display: block;">
</highcharts-chart>
<highcharts-chart
[Highcharts] = "highcharts" id="chartContainerapi3"
[options] = "chartOptionsapi3" 
style = "width: 100%; height: 100; display: block;">
</highcharts-chart>