<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<form [formGroup]="chartForm" (ngSubmit)="onSubmit()" class="chart-form">
  <h2>Générer un graphique statistique</h2>

  <label for="title">Titre:</label>
  <input id="title" type="text" formControlName="title">


  <label for="subtitle">Sous Titre:</label>
  <input id="subtitle" type="text" formControlName="subtitle">

  <label for="chartType">Type du graphique:</label>
  <select id="chartType" formControlName="chartType" (change)="onChartTypeChange($event)">
    <option value="pie">Pie</option>
    <option value="bar">Bar</option>
    <option value="column">Column</option>
    <option value="line">Line</option>
  </select>


  <div *ngIf="showAxisTitles">
    <label for="xAxisTitle">Titre de l'axe X:</label>
    <input id="xAxisTitle" type="text" formControlName="xAxisTitle">

    <label for="yAxisTitle">Titre de l'axe Y:</label>
    <input id="yAxisTitle" type="text" formControlName="yAxisTitle">
  </div>


  <label >
    Choisissez vos données à visualiser par:</label>
  <div formGroupName="dataType" class="radio-group">
    <label>
      <input type="radio" formControlName="type" value="sql" (change)="onDataTypeChange('sql')"> Requête SQL
    </label>
    <label>
      <input type="radio" formControlName="type" value="columnChoice" (change)="onDataTypeChange('columnChoice')"> Choix des colonnes de données
    </label>
  
  </div>

  <div *ngIf="isSqlQuery">
    <label for="sqlQuery">Requête SQL:</label>
    <textarea id="sqlQuery" formControlName="sqlQuery"></textarea>
  </div>

  <div *ngIf="isColumnChoice">
    <label for="itemNames">Données de l'axe X:</label>
    <select id="itemNames" formControlName="itemNames" >
      <option *ngFor="let attr of itemNames" [value]="attr">{{ attr }}</option>
    </select>
  
    <label for="itemValues">Données de l'axe Y:</label>
    <select id="itemValues" formControlName="itemValues">
      <option *ngFor="let attr of itemValues" [value]="attr">{{ attr }}</option>
    </select>
  </div>
  
  


  <button type="submit">Générer</button>

 
</form>
<highcharts-chart *ngIf="chartOptions" style="width: 100%; height: 400px"
class="highcharts-description"
  [Highcharts]="highcharts" id="chartContainergenerated"
  [options]="chartOptions"
  style="width: 100%; height: 100; display: block;">
</highcharts-chart>
